body {
    zoom: 85%;
}

.titleBoldOnTop {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 1000;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    text-align:center;
  }

.titleMainArticle {
    font-weight: 650;
    font-size: 1.9rem;
    display: block;
    word-break: break-all
}

.plainText, .plainText:hover {
    text-decoration: none;
    color: inherit;
}

.titleGridArticle {
    font-weight: 650;
    font-size: 1.7rem;
    display: block;
    word-break: break-all;
    line-height: 34px;
    padding-bottom: 10px;
}

.titleAsideArticle {
    font-weight: 600;
    font-size: 1.1rem;
    display: block;
    word-break: break-all;
    line-height: 1.2
}

.titleAsideSocial {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.3;
}

.emphasis {
    color: purple;
    text-decoration: none;
}

.paddingsDivsOnTop {
    padding-bottom: 20px;
    padding-top: 20px;
}

.imgOnTop {
    width: 100%;
    height: 100px;
}

.advOnTopRight {
    width: 100%;
    height: auto;
}

.imgMainArticle {
    width: 100%;
    height: 270px;
}

.imgMainArticleTwo {
    width: 100%;
    height: 300px;
}

.uppercaseClickBait {
    color: purple;
    font-weight: 700;
}

.list ul {
    list-style: none;
}

.list>ul li:before {
    content: "\25A0";
    color: purple;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

li {
    display: inline-block;
    margin-right: 24px;
    padding: 5px 5px 5px 5px;
}

.somePadding {
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.lockedElement {
    position: sticky;
    top: 80px;
    bottom: 0px;
}

.imgAside {
    width: 100%;
    height: 190px;
}

.myplayZone {
    background: #f9f9f9;
    padding: 5px 25px 2px 5px;
}

.colpoDOcchio {
    background: #f9f9f9;
    padding: 5px 25px 2px 5px;
}

.vspace {
    border-width: 0 0 15px 0;
    border-style: solid;
    border-color: transparent;
}

.vspaceAside {
    border-width: 20px 0 1px 0;
    border-style: solid;
    border-color: #f9f9f9;
    border-radius: 0;
}


/*Header*/
#ht {
    min-height: 60px;
    padding: 10px 2px 2px 2px;
    justify-content: space-between;
    text-align: right;
}

#ht>div {
    display: flex;
}

#hc {
    justify-content: center;
}

#hb {
    padding: 15px 0;
    align-items: center;
}

#hr {
    justify-content: flex-end;
}

#topics li {
    margin: 0 8px 0 0;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.1;
}

#header-logo {
    text-align: center;
}

#horoscope {
    justify-content: end;
    padding-right: 10px;
    display: flex;
    font-size: 13px;
}


#social {
    justify-content: end;
    border-left: 2px;
    border-style: solid;
    border-color: #e9e9e9;
    margin-left: 15px;
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
}

#forecast {
    padding-left: 24px;
    text-align: left;
    font-size: 13px;
}

#searchArea {
    padding-left: 10px;
    width: 70%;
}

#searchLensIcon {
    background-color: transparent;
    padding: 5px 12px;
    align-content: center;
    border: none;
}

#joinUs button {
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 8px 22px;
    border: 0;
}

#hnav {
    border-left: 0;
    border-right: 0;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-color: #e9e9e9;
    font-size: 11px;
    font-weight: 700;
}

.headerButton {
    background-color: white;
    border: none;
}

.buttonEmphasis {
    background-color: purple;
}

.buttonDark {
    background-color: #4e0d13;
}



/* Footer (sort of)*/

#divider {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

#ft img {
    height: 30px;
}


input::placeholder {
    font-weight: 630;
}

/* Divisori "Artistici" */

.testatabox {
    font-family: Helvetica;
    font-size: 10px;
    font-weight: 400;
}

.testatabox.default {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
}

.testatabox.boxed {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
}

.testatabox.boxed.centro:before {
    content: "";
    width: 100%;
    height: 3px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.testatabox.boxed.centro h3 {
    margin-left: 4px;
}

h3.sport {
    font-size: 18px;
    font-weight: bold;
    flex: 0 0 auto;
    padding: 0 16px;
    border: 1px solid;
    margin-right: 4px;
}


.testatabox.boxed:after {
    content: "";
    width: 100%;
    height: 3px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.testatabox.firenze {
    position: relative;
}

.testatabox.default:after {
    content: "";
    width: 100%;
    height: 0px;
    border-top: 2px solid;
}

.testatabox.firenze:after {
    color: purple;
}

h3.firenze {
    margin: 0;
    vertical-align: baseline;
    flex: 0 0 auto;
    padding: 0;
    margin-right: 4px;
}

h3.firenze a {
    color: purple;
    font-size: 23px;
    font-weight: 900;
}

a:active, a:hover {
    outline: 0;
}

.more {
    position: absolute;
    right: 0;
    top: 3px;
    background: #fff;
    padding: 0 0 0 8px;
}

.more a {
    text-transform: uppercase;
    font-size: 12px;
}

.more img {
    margin: 0 4px 0 16px;
}

.filter-green {
    filter: invert(10%) sepia(60%) saturate(6350%) hue-rotate(295deg) brightness(100%) contrast(110%);
}


/* Debug (Breakpoints) */

body::before {
    content: "XS";
    color: purple;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
}

@media (min-width: 576px) {
    body::before {
        content: "SM";
    }
}

@media (min-width: 768px) {
    body::before {
        content: "MD";
    }
}

@media (min-width: 992px) {
    body::before {
        content: "LG";
    }
}

@media (min-width: 1200px) {
    body::before {
        content: "XL";
    }
}

@media (min-width: 1400px) {
    body::before {
        content: "XXL";
    }
}